/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1c1c1c;
}

.logo {
    color: #f4c2c2;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* Hero */
.hero {
    padding: 70px 20px;
    text-align: center;
    background: #fdf1f4;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Sections */
.section {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}

.section h3 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

/* Products - Flexbox */
.products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    flex: 1;
    width: 200px;
    min-width: 50px;
    background: #f5f5f5;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: center;
    border-radius: 8px;
}
.bag
{
    width: 260px;
    height: 300px;
    align-items: center;
    object-fit: cover;
    margin-bottom: 15px;
    padding-left: 0px ;
    padding-right: 0px;
}
.necklace
{
    width: 260px;
    height: 300px;
    align-items: center;
    object-fit: cover;
    margin-bottom: 15px;
}
.bracelet
{
    width: 260px;
    height: 300px;
    align-items: center;
    object-fit: cover;
    margin-bottom: 15px;
}
/* Why Us */
.why-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.why-card {
    flex: 1;
    min-width: 200px;
    background: #fdebed;
    padding: 20px;
    border-radius: 8px;
}

/* Footer */
.footer {
    background: #1c1c1c;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .products-container,
    .why-container {
        flex-direction: column;
    }
}
